@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    font-family: "Nanum Gothic", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display:block;
}


#background{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -2;
    object-fit: cover;
    top: 0;
    left: 0;
}

/*Header Section*/
.header{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0, .95);
    width: 100%;
    z-index: 9;
    top: 0;
    position: fixed;
    overflow: hidden;
}
.leftHeader{
    display: flex;
    flex: 1;
    color:antiquewhite;
}
.leftHeader img{
    width: 75px;
    height: 75px;
}
.rightHeader{
    padding-right: 50px;
    justify-content: center;
    align-items: center;
 
}
.rightHeader a{
    color: antiquewhite;
    text-align: center;
    padding: 10px;
    border: 10px;
    margin: 15px 15px 0px 15px;
    font-size: 25px;
    border-radius: 4px;
    text-decoration: none;
}
.rightHeader a:hover{
    background-color: antiquewhite;
    color: black;
}

/*Section 1*/
.section1{
    display: flex;
    align-items: center;
    color:antiquewhite;
    height:100%;
    width: 100%;
    justify-content: center;
}
.section1Container{
    display: flex;
    margin-top: 15rem;
    background-color: rgba(5, 5, 5, 0.9);
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
}
.section1Container div{
    flex: 1;
}
.section1Description{
    text-align: center;
}
.section1Image{
    display:flex;
    justify-content: space-around;
}
.section1Image img{
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

/*Section 2*/
.section2{
    color:antiquewhite;
    background-color: rgba(5, 5, 5);
    font-size: 25px;
    margin: 200px;
}
.section2Container{
    display:flex;
}
.section2 img{
    height: 250px;
    width: 250px;
    border-radius: 5px;
}